<mat-toolbar color="primary">
  <span>Desafio UI</span>
</mat-toolbar>

<mat-card>
  <p *ngIf="upload$ | async as upload">
    <span class="message" *ngIf="upload.state == 'DONE' ? true : false">Upload concluido com sucesso!</span>
  </p>
  <mat-progress-bar *ngIf="upload$ | async as upload" [mode]="upload.state == 'DONE' ? 'determinate' : 'indeterminate'"
    [value]="upload.progress">
  </mat-progress-bar>
  <br>
  <div class="file-input">
    <button mat-raised-button (click)="fileInput.click()">
      {{ file ? file.name : 'Selecionar aquivo' }}
    </button>
    <input hidden type="file" #fileInput (change)="onFileInput(fileInput.files)" />
  </div>
  <mat-card-actions>
    <button [disabled]="!file" type="submit" mat-raised-button color="primary" (click)="onSubmit()">
      Salvar
    </button>
  </mat-card-actions>
</mat-card>