/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.message {
    background-color: #b5d7a0;
    padding: 10px;
    border-radius: 3px;
    color: #226e14;
}